{% extends "index.html" %}

{% block content %}

<style>
    .product-number {
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 10px;
    }

    .hidden-product {
        display: none;
    }
</style>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="alert alert-danger">{{ message }}</div>
        {% elif message.tags == "success" %}
            <div class="alert alert-success">{{ message }}</div>
        {% elif message.tags == "warning" %}
            <div class="alert alert-warning">{{ message }}</div>
        {% elif message.tags == "info" %}
            <div class="alert alert-info">{{ message }}</div>
        {% else %}
            <div class="alert alert-secondary">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container mt-5">
    <h1 class="mb-4">Product Sold Management Panel</h1>

    <!-- Filter Form -->
    <form method="GET" class="mb-3" id="filterForm">
        <div class="form-inline mb-4">
            <label for="year" class="mr-2">Year:</label>
            <select name="year" id="year" class="form-control mr-2">
                {% for y in years %}
                    <option value="{{ y }}" {% if y == selected_year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
            <label for="month" class="mr-2">Month:</label>
            <select name="month" id="month" class="form-control mr-2">
                {% for m in months %}
                    <option value="{{ m.value }}" {% if m.value == selected_month %}selected{% endif %}>{{ m.name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Filter</button>
        </div>
    </form>

    <!-- Product Sold List Grouped by Month -->
    {% for month, data in grouped_product_solds.items %}
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0">{{ month }} - Total Sales: ${{ data.total_sales }}</h5>
            </div>
            <div class="card-body">
                <div class="row" id="month-{{ forloop.counter }}">
                    {% for product_sold in data.product_solds %}
                        <div class="col-md-3 mb-4 product-item {% if forloop.counter > 8 %}hidden-product{% endif %}">
                            <div class="card">
                                <div class="card-body d-flex align-items-center">
                                    <div class="product-number">
                                        {{ forloop.counter }}
                                    </div>
                                    <div>
                                        <h5 class="card-title">{{ product_sold.product_name }}</h5>
                                        <p class="card-text"><strong>Price: </strong>${{ product_sold.price }}</p>
                                        <p class="card-text"><strong>Count: </strong>
                                            <a href="{% url 'increase_sold' product_sold.pk %}" class="btn btn-sm btn-success">+</a>
                                            {{ product_sold.count }}
                                            <a href="{% url 'decrease_sold' product_sold.pk %}" class="btn btn-sm btn-warning">-</a>
                                        </p>
                                        <p class="card-text"><strong>Total: </strong>${{ product_sold.total_price }}</p>
                                        <p class="card-text"><strong>Date: </strong>{{ product_sold.date|date:"d/m/Y" }}</p>
                                        <a class="btn btn-warning" href="{% url 'update_product_sold' product_sold.pk %}">Edit</a>
                                        <a class="btn btn-danger" href="{% url 'delete_product_sold' product_sold.pk %}" onclick="return confirm('Are you sure delete this product?')">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if data.product_solds|length > 8 %}
                    <button class="btn btn-link toggle-visibility" data-month="month-{{ forloop.counter }}">Show More ∨</button>
                {% endif %}
            </div>
        </div>
    {% endfor %}

</div>
<br><br><br>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.toggle-visibility').forEach(button => {
            button.addEventListener('click', function() {
                const monthId = this.getAttribute('data-month');
                const products = document.querySelectorAll(`#${monthId} .product-item`);
                const isHidden = Array.from(products).some(product => product.classList.contains('hidden-product'));

                products.forEach((product, index) => {
                    if (index >= 8) {
                        if (isHidden) {
                            product.classList.remove('hidden-product');
                        } else {
                            product.classList.add('hidden-product');
                        }
                    }
                });

                this.textContent = isHidden ? 'Show Less ∧' : 'Show More ∨';
            });
        });
    });
</script>

{% endblock content %}
