{% extends "index.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Sales, Price Comparison, and Repair Costs Charts</h1>

    <!-- Year and Month selection form -->
    <form method="GET" class="mb-4" id="filterForm">
        <div class="form-inline mb-4">
            <label for="year" class="mr-2">Year:</label>
            <select name="year" id="year" class="form-control mr-2" onchange="this.form.submit()">
                {% for y in years %}
                    <option value="{{ y }}" {% if y == selected_year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>

            <label for="month" class="mr-2">Month:</label>
            <select name="month" id="month" class="form-control mr-2" onchange="this.form.submit()">
                {% for m in months %}
                    <option value="{{ m.value }}" {% if m.value == selected_month %}selected{% endif %}>{{ m.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    <div class="row">
        <!-- Monthly Repair Costs Chart -->
        <div class="col-md-6">
            <h2 class="mb-4">Monthly Repair Costs</h2>
            <canvas id="repairCostChart" width="400" height="250"></canvas>
        </div>

        <!-- Monthly Total Sales Chart -->
        <div class="col-md-6">
            <h2 class="mb-4">Monthly Total Sales Chart</h2>
            <canvas id="salesChart" width="400" height="250"></canvas>
        </div>
    </div>

    <!-- Monthly Price Comparison Chart -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h2 class="mb-4">Monthly Price Comparison Chart</h2>
            <canvas id="priceComparisonChart" style="max-height: 250px; max-width: 400px;"></canvas>
            <p>Total Price Difference: ${{ total_price_difference }}</p>
        </div>
    </div>
</div>
<br><br><br>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var repairCostCtx = document.getElementById('repairCostChart').getContext('2d');
    var repairCostChart = new Chart(repairCostCtx, {
        type: 'bar',
        data: {
            labels: {{ device_labels|safe }},
            datasets: [{
                label: 'Total Repair Costs',
                data: {{ total_repair_costs|safe }},
                backgroundColor: 'rgba(5, 45, 114, 0.8)',
                borderColor: 'rgba(5, 45, 114, 1)',
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    var salesCtx = document.getElementById('salesChart').getContext('2d');
    var salesChart = new Chart(salesCtx, {
        type: 'bar',
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Total Sales',
                data: {{ total_sales|safe }},
                backgroundColor: 'rgba(54, 162, 235, 0.8)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    var priceCtx = document.getElementById('priceComparisonChart').getContext('2d');
    var priceComparisonChart = new Chart(priceCtx, {
        type: 'pie',
        data: {
            labels: ['Total Cost', 'Total Income'],
            datasets: [{
                label: 'Price Comparison',
                data: [{{ total_cost }}, {{ total_income }}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(36, 137, 20, 0.8)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(36, 137, 20, 1)',
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
